---

import LinkComponent from "./LinkComponent.astro";---

<footer class="fixed left-0 bottom-0 w-full bg-neutral p-8 text-center">
    <ul>
        <li>authored by Alessa Wiesner</li>
        <li>reach me at <LinkComponent location={new URL("mailto:alessa56767@web.de")} label="alessa56767@web.de"></LinkComponent></li>
    </ul>
</footer>