---
interface Props {
    tags: Array<string>
}
const { tags } : Props = Astro.props
---


<section class="text-white inline-flex flex-wrap">
    {tags.map((tag, i) => {
        return (<p class="bg-neutral px-2 py-1 m-1 rounded-xl">{tag}</p>);
    })}
</section>